/*************************** TAG SELECTORS*************************/

body {
    background-color: blueviolet;
}

h1 {
    color: crimson;
    font-size: large;
}


/*
img {
    background-color: blue;
}*/


/************************* CLASS SELECTORS***************************/

.choco {
    background-color: darkcyan;
}

/************************* ID SELECTORS***************************/

#heading {
    color: black;
}
